*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(42, 29, 53);
}
 .header{
     height: 100px;
     background-color: rgba(10, 3, 3, 0.425);
 }
 .text{
    color: white;
    text-align: justify;
    padding: 30px;
}
label{
    color: white;
    font-size: 25px;
}