*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(42, 29, 53);
}
 .header{
     height: 100px;
     background-color: rgba(10, 3, 3, 0.425);
 }
 .text{
    color: white;
    text-align: justify;
    padding: 30px;
}
label{
    color: white;
    font-size: 25px;
}
table {
    width: 80%;
    border-collapse: collapse;
  }
th {
    font-size: large;
    color: white;
}
table, td, th {
    border: 2px solid white;
    align-items: center;
  }
td {
    font-size: large;
    color: white;
    text-align: center;
}
  


.botton {
    display: inline-block;
    color: rgb(243, 234, 234);
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.25s ease;
}